.order_item{
  padding: 10px;
  background-color: #fff;
  margin-bottom: 10px;
  .order_info{
    padding: 10px 0;
    .order_info_item{
      display: flex;
      img{
        width: 80px;
        height: 80px;
        margin-right: 10px;
      }
      .order_info_item_r{
        flex: 1;
        .item_r_top{
          display: flex;
          justify-content: space-between;
          .name{
            flex: 1;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 2;
            overflow: hidden;
          }
          .price{
            width: 50px;
            text-align: right;
          }
        }
      }
    }
  }
} 