.search-head {
    height:44px !important;
    display: flex;
    background-color: #fff;
    border-bottom: 0.0625rem solid #eee;
    .center{
        flex: 1;
        .am-search{
        background-color: #fff;
            .am-search-input{
                background-color: #f7f7f7;
                border-radius:44px;
            }
        }
    }
}