.list {
    display: flex;
    flex-wrap: wrap;
    background: #efeff4;
    justify-content: space-between;
}
.list_item {
    display: flex;
    flex-direction: column;
    background: #fff;
    padding: 0.625rem;
    box-sizing: border-box;
    margin-bottom: 0.625rem;
    width: 48%;
    .img_box {
        width: 100%;
        height: 9.375rem;
        display: flex;
        justify-content: center;
        align-items: center;
        img {
            width: 80%;
            height: 100%;
        }
    }
    .list_item_content {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        padding: 0.625rem 0;
        .title{
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 2;
            overflow: hidden;
            font-size: 1rem;
        }
        .desc {
            margin: 0.625rem 0;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 1;
            overflow: hidden;
            color: '#888'
        }
        .list_item_content_bottom {
            display: flex;
            justify-content: space-between;
            .price {
                font-size: 0.75rem;
                color: #f00;
                span {
                    font-size: 1rem;
                }
            }
            .sale {
                font-size: 0.75rem;
                color: #888;
                span {
                    font-size: 1rem;
                }
            }
        }   
    }

}