.list {
    display: flex;
    flex-wrap: wrap;
    background: #efeff4;
    justify-content: space-between;
}
.list_item {
    background: #fff;
    .img_box {
        height: 150px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .list_item_content {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        padding: 10px 0;
        .title{
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 2;
            overflow: hidden;
            font-size: 16px;
        }
        .desc {
            margin: 10px 0;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 1;
            overflow: hidden;
            color: '#888'
        }
    }

}