.bg{
    height: 30vh;
    background: url('../images/lgbg.jpg') no-repeat;
    background-size:100%;
    // animation: left 5s infinite linear;
    // @keyframes left {
    //   0% {
    //     background-position: 0 0;
    //   }
    //   100% {
    //     background-position: -70px 0;
    //   }
    // }
    span{
      position: fixed;
      top: 15px;
      left: 15px;
      color: #fff;
    }
  }
  
  .login{
    height: 70vh;
    padding: 20px 50px;
    .registered{
      display: flex;
      justify-content: space-between;
      align-items: center;
      h3 {
        font-size: 16px;
      }
      span {
        font-size: 16px;
        color: '#005980'
      }
    }
    .phone {
      margin: 15px 0;
    }
    .login_btn{
      height: 40px;
      margin-top: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      background: #fe7300;
      font-size: 16px;
      color: #fff;
    }
    .login_forget{
      margin-top: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 16px;
      color: #005980;
    }
  }
  
  .absolute{
    position: absolute;
    bottom: 100px;
    // left: 7%;
    width: 275px;
  }