.top {
    background: linear-gradient(90deg, #eb3c3c, #ff7459);;
    padding: 10px 0;
  .top_info {
    padding: 20px 15px;
    display: flex;
    justify-content: space-between;
    .top_l {
        display: flex;
      img {
        width: 60px;
        height: 60px;
        border-radius: 36px;
      }

      .userInfo {
          margin-left: 10px;
          color: #fff;
        .username {
            margin-bottom: 10px;
            font-size: 16px;
            font-weight: bold;
        }

        .userNav {
            display: flex;
          div {
            margin-right: 15px;
            font-size: 16px;
          }
        }
      }
    }

    .top-r {
        .am-badge {
            margin-bottom: 10px;
        }
        .iconfont {
          font-size: 20px;
          color: #fff;
          font-weight: bold;
        }
        .iconfont.set {
          margin: 0 15px;
        }
    }
  }

  .top_nav {
      display: flex;
      padding: 10px 0;
    .top_nav-item {
        height: 40px;
        font-size: 16px;
        color: #fff;
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
  }
}

.MyOrder{
  padding: 10px;
  .title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    h3 {
      font-size: 16px;
    }
    div {
      display: flex;
      justify-content: space-between;
      align-items: center;
      span {
        font-size: 14px;
        color: #999;
      }
    }
  }
}
.tools {
    display: flex;
    flex-wrap: wrap;
    background: #fff;
    border-radius: 10px;
    padding: 15px;
    .tools_item{
      margin-bottom: 10px;
      height: 50px;
      width: 25%;
      font-size: 12px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
    }
}