.top {
    background: linear-gradient(90deg, #eb3c3c, #ff7459);;
    padding: 0.625rem 0;
  .top_info {
    padding: 1.25rem 0.9375rem;
    display: flex;
    justify-content: space-between;
    .top_l {
        display: flex;
      img {
        width: 3.75rem;
        height: 3.75rem;
        border-radius: 2.25rem;
      }

      .userInfo {
          margin-left: 0.625rem;
          color: #fff;
        .username {
            margin-bottom: 0.625rem;
            font-size: 1.125rem;
            font-weight: bold;
        }

        .userNav {
            display: flex;
          div {

          }
        }
      }
    }

    .top-r {
        .am-badge {
            margin-bottom: 0.625rem;
        }
    }
  }

  .top_nav {
      display: flex;
      padding-bottom: 0.625rem;
    .top_nav-item {
        height: 2.5rem;
        color: #fff;
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
  }
}

.MyOrder{
    padding: 0.625rem;
}
.tools {
    display: flex;
    flex-wrap: wrap;
    background: #fff;
    border-radius: 0.625rem;
    padding: 0.9375rem;
    .tools_item{
        height: 3.125rem;
        width: 20%;
        display: flex;
        flex-direction: column;
         justify-content: space-between;
         align-items: center
    }
}