.bg{
    height: 30vh;
    // background: skyblue;
    background: url('../images/lgbg.jpg') no-repeat;
    background-size:100%;
    // animation: left 5s infinite linear;
    // @keyframes left {
    //   0% {
    //     background-position: 0 0;
    //   }
    //   100% {
    //     background-position: -200px 0;
    //   }
    // }
    span{
      position: fixed;
      top: 15px;
      left: 15px;
      color: #fff;
    }
  }
  
  .login{
    height: 70vh;
    padding: 20px 50px;
    .registered{
      display: flex;
      justify-content: space-between;
      align-items: center;
      h3 {
        font-size: 16px;
      }
    }
    .userName{
      margin: 15px 0;
    }
    .password{
  
    }
    .login_btn{
      height: 40px;
      margin-top: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      background: #fe7300;
      font-size: 16px;
      color: #fff;
    }
  }