.Search {
  background-color: #fff;
  height: 100vh;
  .recent_search {

    .title {
      color: #f00;
      font-size: 16px;
    }
    .del {
      font-size: 20px;
      color: #f00;
    }

    .history_list {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      .history_list_item {
        margin-bottom: 10px;
        border-radius: 5px;
        width: 30%;
        margin: 5px;
        line-height: 30px;
        font-size: 16px;
        text-align: center;
        background-color: #eee;
        overflow: hidden;
        text-overflow:ellipsis;
        white-space: nowrap;
      }
    }
  }
}